.navbar-inverse .navbar-nav>li>a:hover {
  color: black;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #efefef;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0;
    float: left;
    /* margin-left: -15px; */
}
.navbar-nav {
  margin: 0;
}
.navbar-inverse .navbar-toggle {
    border-color: #333;
    background-color: black;
    position: absolute;
    right: 15px;
    z-index: 1;
  }

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
   background-color: black;
}

button.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

.home-product {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  background-image: url("img/madison(3).jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
   -moz-background-size: cover;
   -o-background-size: cover;
   -webkit-background-size: cover;
   background-size: cover;
   margin: 0 auto;
   display: table;
   vertical-align: middle;
}

.navbar-inverse {
  margin: 0;
  position: fixed;
  opacity: 0.9;
  width: 100%;
  border-radius: 0;
  background-color: white;
  border: none;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.logo-text {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    align-items: flex-end;
}

.project-container {
  width: 100%;
  height: 100%;
  margin-top: 60px;
}

.project-container-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  width: 100%;
  height: 100%;
}

.project-container-list li {
  list-style: none;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img.img-hovers {
  position: relative;
  height: 400px;
  width: 400px;
}

span.madison-hovers {
  position: absolute;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
span.madison-hovers:hover {
  background-color: black;
  opacity: 0.6;
  position: absolute;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
span.madison-hovers p {
  position: relative;
  height: 400px;
  opacity: 0;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

span.madison-hovers p:hover {
  color: white;
  font-size: xx-large;
  opacity: 1;
  position: absolute;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transition-timing-function: ease-out;
}
