<div class="home-product">
  <div class="logo-text">
    <img class="img-responsive" src="./img/name.png" alt="logo">
  </div>
</div>
<div ng-controller="slideShowCtrl">
  <div class="slider">
    <!-- <div class="slide" ng-repeat="image in images" ng-show="image.visable"> -->
    <div class="slide">
    </div>
  </div>
  <slide-show-dir images="images">
</div>
<navs-bar-dir games="games">
<div class="portfolio-projects">
  <div class="project-container">
    <ul>
    <li><img class="img-hovers" src="./img/madison(1).jpg" alt="">Madison + Jeff Formals</li>
    <li><img class="img-hovers" src="./img/madison(1).jpg" alt="">Madison + Jeff Formals</li>
    <li><img class="img-hovers" src="./img/madison(1).jpg" alt="">Madison + Jeff Formals</li>
    <li><img class="img-hovers" src="./img/madison(1).jpg" alt="">Madison + Jeff Formals</li>
    <li><img class="img-hovers" src="./img/madison(1).jpg" alt="">Madison + Jeff Formals</li>
    <li><img class="img-hovers" src="./img/madison(1).jpg" alt="">Madison + Jeff Formals</li>
    <li><img class="img-hovers" src="./img/madison(1).jpg" alt="">Madison + Jeff Formals</li>
    <li><img class="img-hovers" src="./img/madison(1).jpg" alt="">Madison + Jeff Formals</li>
    <li><img class="img-hovers" src="./img/madison(1).jpg" alt="">Madison + Jeff Formals</li>
    </ul>

  </div>
</div>
</navs-bar-dir>
