<div class="big-navbar">
    <ul class="info">
      <li><a href="#"><h4>Home</h4></a></li>
      <li><a href="#"><h4>Blog</h4></a></li>
      <li><h2>KELSIE WOLFLEY PHOTOGRAPHY</h2></li>
      <!-- <li><div class="container-fluid1"><h2>KELSIE WOLFLEY PHOTOGRAPHY</h2></div></li> -->
      <li><a href="#"><h4>About</h4></a></li>
      <li><a href="#"><h4>Contact</h4></a></li>
    </ul>
 </div>

 <div class="small-navbar">
   <header>
      <button class="hamburger">&#9776;</button>
      <button class="cross">&#735;</button>
    </header>

    <div class="menu">
      <ul>
        <a href="#"><li>Home</li></a>
        <a href="#"><li>Blog</li></a>
        <a href="#"><li>About</li></a>
        <a href="#"><li>Contact</li></a>
      </ul>
    </div>
</div>

<div class="home-product">
  <li><img class="img-responsive" id="home-product-small" src="<?php echo get_stylesheet_directory_uri(); ?>/img/untitled-4.jpg" alt=""><span class="madison-hovers"><p>Madison + Jeff <br> Formals</p></span></li>
  <div class="logo-text">
    <img class="img-responsive" src="<?php echo get_stylesheet_directory_uri(); ?>/img/name.png" alt="logo">
  </div>
</div>
  <div class="project-container">
    <ul class="project-container-list">
    <li><img class="img-hovers" src="<?php echo get_stylesheet_directory_uri(); ?>/img/madison(1).jpg" alt=""><span class="madison-hovers"><p>Madison + Jeff <br> Formals</p></span></li>
    <li><img class="img-hovers" src="<?php echo get_stylesheet_directory_uri(); ?>/img/named.jpg" alt=""><span class="madison-hovers"><p>Madison + Jeff <br> Formals</p></span></li>
    <li><img class="img-hovers" src="<?php echo get_stylesheet_directory_uri(); ?>/img/madison(4).jpg" alt=""><span class="madison-hovers"><p>Madison + Jeff <br> Formals</p></span></li>
    <li><img class="img-hovers" src="<?php echo get_stylesheet_directory_uri(); ?>/img/madison(5).jpg" alt=""><span class="madison-hovers"><p>Madison + Jeff <br> Formals</p></span></li>
    <li><img class="img-hovers" src="<?php echo get_stylesheet_directory_uri(); ?>/img/madison(6).jpg" alt=""><span class="madison-hovers"><p>Madison + Jeff <br> Formals</p></span></li>
    <li><img class="img-hovers" src="<?php echo get_stylesheet_directory_uri(); ?>/img/madison(7).jpg" alt=""><span class="madison-hovers"><p>Madison + Jeff <br> Formals</p></span></li>
    </ul>
  </div>
