<div class="big-navbar">
    <ul class="info">
      <li><a ui-sref="home"><h4>home</h4></a></li>
      <li><a ui-sref="blog"><h4>blog</h4></a></li>
      <li><h2>KELSIE WOLFLEY PHOTOGRAPHY</h2></li>
      <!-- <li><div class="container-fluid1"><h2>KELSIE WOLFLEY PHOTOGRAPHY</h2></div></li> -->
      <li><a ui-sref="about"><h4>about</h4></a></li>
      <li><a ui-sref="contact"><h4>contact</h4></a></li>
    </ul>
 </div>

<navs-bar-dir games="games"
 <div class="small-navbar">
   <header>
      <button class="hamburger">&#9776;</button>
      <button class="cross">&#735;</button>
    </header>

    <div class="menu">
      <ul>
        <a ui-sref="home"><li>Home</li></a>
        <a ui-sref="blog"><li>Blog</li></a>
        <a ui-sref="About"><li>About</li></a>
        <a ui-sref="Contact"><li>Contact</li></a>
      </ul>
    </div>
</div>
</navs-bar-dir>

<div class="home-product">
  <li><img class="img-responsive" id="home-product-small" src="./img/untitled-4.jpg" alt=""><span class="madison-hovers"><p>Madison + Jeff <br> Formals</p></span></li>
  <div class="logo-text">
    <img class="img-responsive" src="./img/name.png" alt="logo">
  </div>
</div>
  <div class="project-container">
    <ul class="project-container-list">
    <li><img class="img-hovers" src="./img/madison(1).jpg" alt=""><span class="madison-hovers"><p>Madison + Jeff <br> Formals</p></span></li>
    <li><img class="img-hovers" src="./img/named.jpg" alt=""><span class="madison-hovers"><p>Madison + Jeff <br> Formals</p></span></li>
    <li><img class="img-hovers" src="./img/madison(4).jpg" alt=""><span class="madison-hovers"><p>Madison + Jeff <br> Formals</p></span></li>
    <li><img class="img-hovers" src="./img/madison(5).jpg" alt=""><span class="madison-hovers"><p>Madison + Jeff <br> Formals</p></span></li>
    <li><img class="img-hovers" src="./img/madison(6).jpg" alt=""><span class="madison-hovers"><p>Madison + Jeff <br> Formals</p></span></li>
    <li><img class="img-hovers" src="./img/madison(7).jpg" alt=""><span class="madison-hovers"><p>Madison + Jeff <br> Formals</p></span></li>
    </ul>
  </div>
